<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="Login with GitHub">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
<!--     <link rel="stylesheet" href="/style.css"> -->
    <link href="https://unpkg.com/primer/build/build.css" rel="stylesheet">

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body class="m-6">
    
    <div class="container-lg clearfix">
      
      <div class="col-8 float-left">
        <h1>
          Login with GitHub
        </h1>
      </div>
      
      <div class="col-4 float-right">
        
        {% if user %}
        
        👋 Welcome, <a href="https://github.com/{{ user.login }}">@{{ user.login }}</a>
        
        {% else %}
        
        <form method="get" action="/login">
          <button type="submit" class="btn btn-large btn-primary" role="button">Login</button>
        </form>
        
        {% endif %}
      </div>
      
    </div>

        
    <main>
      {% if user %}
      <div>
      👋 Welcome, <a href="https://github.com/{{ user.login }}">@{{ user.login }}</a>
      </div>
      <form method="get" action="/logout">
        <button type="submit">Logout</button>
      </form>
      {% else %}
      {% endif %}
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
